.banner{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}
.cont{
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 50px;
}

.text-content {
    flex: 1;
    padding: 50px;
    max-width: 650px;
}

.text-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.1em;
    margin-bottom: 30px;
    line-height: 1.6;
    text-align: justify;
}

.btn {
    padding: 15px 25px;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1em;
    border: 1px solid #1F7CB0;
}


.image-content {
    flex: 1;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.image-content img {
    max-width: 500%;
    height: auto;
}
@media (max-width: 850px) {
    .cont{
        display: flex;
    } 
.content:nth-of-type(2) {
    display: none;
}
.content:nth-of-type(3) {
    display: none;
}
.content:nth-of-type(1) {
    margin-top: 20px;
}
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .text-content, .image-content {
        max-width: 100%;
        padding: 5px;
        margin-left: 50px;
    }

    .text-content h1 {
        font-size: 1.5em;
    }

    .text-content p {
        font-size: 1em;
    }

    .btn {
        font-size: 0.9em;
        padding: 12px 20px;
    }
}
@media (max-width: 800px) {
    .cont{
        display:inline;
    } 
}
.general-container {
    display: flex;
    height: 21rem;
    margin: 0 auto;
    max-width: 55vw;
    width: 55vw;
  }
  
  .radio {
    display: none;
  }
  
  .content {
    background: transparent;
    background-image: url("./Images/banner3.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3rem;
    cursor: pointer;
    flex: 1;
    margin-right: 0.8rem;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0.05, 0.60, 0.39, 0.94);
  }
  
  .content::before {
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  
  .content > * {
    position: relative;
    z-index: 1;
  }
  
  .content:hover {
    box-shadow: 0.7rem 0.7rem 0.5rem rgba(0, 0, 0, 0.3);
  }
  
  .content:nth-of-type(2) {
    background: transparent;
    background-image: url("./Images/banner1.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .content:nth-of-type(3) {
    background: transparent;
    background-image: url("./Images/banner2.jpg");
  background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
  }
  

  
  .paddT{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .radio:checked + .content {
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    flex: 9;
  }
  
  .radio:checked + .content > .card-title {
    opacity: 1;
    transform: translateX(0);
  }
  
  .radio:checked + .content > .title-card{
    opacity: 1;
    transform: translateX(0);
  }
  
  .marg-bott{
    margin-bottom: 1.5rem;
  }

  /* product */
  .aboutus h3{
    text-align: center;
    font-size: 30px;
}

/* .aboutus h3 .our{
    color: #438BB3;
    margin-left: 4px;
    text-decoration: underline;
}
.aboutus h3  .product{
    margin-left: 5px;
    color: #438BB3;
} */
.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    width: 90vw;
    margin: 50px;
    margin-left: 70px;
}

.scroll-content {
    display: flex;
    animation: scroll 20s linear infinite; /* 20s duration for the animation */
}

.scroll-content img {
    width: 200px; /* Adjust image width as needed */
    height: auto;
    margin: 0 10px;
    border-radius: 8px;
    object-fit: cover;
}
.btn2{
    margin-left: 570px;
    padding: 15px 25px;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1em;
    border: 1px solid #1F7CB0;
}


/* Animation for infinite scroll */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .scroll-content img {
        width: 150px;
    }
}


.more hr{
    width: 100px;
    margin-top: -25px;
    margin-left: 620px;
    color: #438BB3;
}

/* mission */
.mission-content{
    display: flex;
    align-items: flex-start;
    margin: 60px 0;
}

.mission-content h2 {
    margin-top: 9px;
    font-size: 36px;
    margin-bottom: 20px;
    flex-basis: 40%;
    margin-left: 90px;
}

.mission-content p {
    margin-left: 260px;
    margin-right: 120px;
    text-align: justify;
    margin-top: 2px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    flex-basis: 75%;
}
.mission-content .info{
    margin-top: 10px;
}


@media (max-width: 1184px){
    .mission-content h2 {
      font-size: 30px;
  }
  }
  
@media (max-width: 1107px){
    .mission-content h2 {
      font-size: 25px;
  }
  }
  
@media (max-width: 980px){
    .mission-content h2 {
      font-size: 20px;
  }
  }
  @media (max-width: 875px) {
    .mission-content {
        display: inline;
        margin: 20px 0;
    }
    .mission-content h2 {
        margin-top: 20px;
        font-size: 30px;
    }
    .mission-content p {
        margin-left: 90px;
    }
}
@media (max-width: 555px) {
        .mission-content h2 {
            margin-top: 20px;
            font-size: 30px;
            margin-left: 20px;
        }
        .mission-content p {
           margin-left: 20px;
        }
}

/* testimonal */
.test h2{
    text-align: center;
    font-size: 40px;
}
.test h3{
    text-align: center;
    font-size: 25px;
}
.testimonial-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 20px auto;
    position: relative;
}

.testimonial-carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

.testimonial {
    flex: 0 0 50%;
    max-width: 20%;
    margin: 0 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 0.5px solid black;
    height: 140px;
}

.testimonial p {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

.testimonial h4 {
    font-size: 14px;
    color: #555;
    margin-top: 50px;
    margin-left: 100px;
}

.nav-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
 
}

.prev-btn {
    left: -40px;
}

.next-btn {
    right: -40px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .testimonial-carousel {
        max-width: 90%;
    }
    .testimonial p {
        font-size: 14px;
    }
    .testimonial h4 {
        font-size: 12px;
    }
}

/* contactbutton */
.connect{
    margin-top: 100px;
}
.connect h2{
    text-align: center;
    font-size: 30px;
}
.connect p{
    text-align: center;
    font-size: 20px;
}

.connect .btn1{
    text-align: center;
    color: white;
}

.btn1{
    margin-left: 570px;
    padding: 15px 25px;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1em;
    background-color: #fff;
    border: 1px solid #1F7CB0;
}


@media (max-width: 290px){
    .btn1 {
        margin-left: 70px;
    }
    }
@media (max-width: 980px){
    .btn1 {
        margin-left: 386px;
    }
    }
@media (max-width: 720px) {
        .btn1 {
            margin-left: 262px;
        }
    }
@media (max-width: 600px) {
        .btn1 {
            margin-left: 197px;
        }
    }
@media (max-width: 480px) {
        .btn1 {
            margin-left: 150px;
        }
    }
@media (max-width: 400px) {
        .btn1 {
            margin-left: 121px;
        }
    }