body{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 40px;
    background-color: #1F7CB0;
}
.main{
    display: flex;
}
.email{
    display: flex;
}
.email .emailimg{
    margin-top: 10px;
    margin-left: 40px;
}
.email a{
    color: white;
    text-decoration: none;
    margin-top: 14px;
}
.phone{
    display: flex;
    margin-left: 12px;
}
.phone .phoneimg{
    margin-top: 10px;
    margin-left: 40px;
    height: 20px;
    width: 20px;
}
.phone a{
    color: white;
    text-decoration: none;
    margin-top: 14px;
    margin-left: 5px;
}